body {
  padding: 10px;
}

.custom-select {
  width: 20%;
}
.my-1, .mr-2 {
  width: 30%;
  vertical-align: top;
  float: left;
}

#btn_dev {
  margin-top: 4px;
}

#div_lang {
  width: 400px;
  height: 102px;
  border: 1px solid gray;
  margin-top: 10px;
}

#div_container_res {
  display: inline-block;
}

p {
  line-height: 0px;
  margin-top: 5px;
}

#div_lang img {
  float: left;
  padding: 5px;
}

#name {
  width: 55%;
  font-weight: bold;
  float: left;
  padding-top: 5px;
}

#year {
  width: 55%;
  float: left;
}

#projectsCount {
  width: 55%;
  float: left;
}