@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
  padding: 10px;
  font-family: montserrat, arial, verdana;
}

p {
  line-height: 0px;
  margin-top: 5px;
}

.tlt {
  text-align: center;
  padding-bottom: 20px;
}

.tlt:before {
  border-top: 2px solid #dfdfdf;
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 99%;
  z-index: -1;
}

.tlt span {
  background: #fff;
  padding: 0 15px;
}

.custom-select {
  width: 370px;
}

.lbl {
  width: 350px;
  vertical-align: top;
  float: left;
  margin-top: 10px;
}

#div_container {
  margin-top: 20px;
}

#div_lang {
  width: 450px;
  height: 102px;
  border: 1px solid gray;
  margin-top: 10px;
}

#div_container_res {
  display: inline-block;
  background-color: #f3f3f3;
  padding: 0px 10px 10px 10px;
  border-left: 20px solid #f5eb9b;
}

#number_rating {
  font-size: 50px;
  float: right;
  color: #f5ea8f;
  font-weight: 800;
  padding: 0px 10px 0px 0px;
}

#div_lang img {
  float: left;
  padding: 5px;
}

#name {
  width: 55%;
  font-weight: bold;
  float: left;
  padding-top: 7px;
}

#year, #projectsCount {
  width: 55%;
  float: left;
}